<!-- Card -->
<div class="card card-image mb-2" style='background-image: url(https://www.stockvault.net/data/2016/03/01/185487/preview16.jpg);background-size: cover;'>

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5>INTRODUCING YOU CLICK WE SHOP</h5>
      <h3 class="card-title"><strong>Shopping at your fingertips</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a mdbBtn color="red" class="waves-light" mdbWavesEffect><i class="fa fa-shopping-cart left"></i> SHOP NOW</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>