<!-- Default form login -->
<form class="text-center p-5 w-responsive h-auto mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Sign in</p>

  <!-- E-mail -->
  <div class="form-row mb-4">
      <div class="col">
        <input mdbValidate type="email" formControlName="EmailAddress" class="form-control" placeholder="E-mail">
        <mdb-error *ngIf="EmailAddress.invalid && (EmailAddress.dirty || EmailAddress.touched)">Invalid email address</mdb-error>
      </div>
  </div>

  <!-- Password -->
  <div class="form-row mb-5">
      <div class="col">
        <input mdbValidate type="password" formControlName="Password" class="form-control" placeholder="Password">
        <mdb-error *ngIf="Password.invalid && (Password.dirty || Password.touched)">Password should be 8 characters or longer</mdb-error>
      </div>
    </div>

    <hr>
  
  <small class="form-text text-muted float-left">
    Login as:
  </small>
  <select class="browser-default custom-select form-control mb-4" formControlName="Role">
    <option value="Customer" selected>Customer</option>
    <option value="Delivery">Delivery</option>
    <option value="Administrator">Administrator</option>
  </select>
  


  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <!-- Forgot password -->
      <a [routerLink]='["/forgot"]'>Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="red" block="true" class="my-4" type="submit">Sign in</button>

  <!-- Register -->
<p>Don't have an account yet?
    <a class="waves-light" [routerLink]='["/signup"]' >Register</a>
  </p>
  


  <!-- Social login
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">

    <mdb-icon icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">

    <mdb-icon icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">

    <mdb-icon icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">

    <mdb-icon icon="github"></mdb-icon>
  </a>
 -->
</form>
<!-- Default form login -->